.container{
    display: flex;
    justify-content: center;
    float: right;
    max-width: 650px;
    padding:28px;
    margin:0 28px;
    border-radius: 10px;
    overflow: hidden;
    background:rgba(183, 184, 192, 0.955);
    box-shadow: 0 15px 20px rgba(0,0,0,3);
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px 0;
}
.input{
    display: flex;
    flex-wrap: wrap;
    width:50%;
    padding-bottom: 15px;
}
.input:nth-child(2n){
    justify-content: end;
}
.input input{
    height:30px;
    width:95%;
    padding:0 10px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline:none;
}
.details{
    display:flex;
    justify-content: space-between;
}
.details h3{
    margin:5px;
    font-weight:bold;
    border:2px solid rgba(25, 24, 24, 0.153);
    padding:15px;
    background-color: rgb(181, 179, 177);
    box-shadow: 0 15px 20px rgba(0,0,0,3);
}
.container label{
    font-weight: bold;
    font-size: small;
}